aws_region                    = "ap-southeast-1"
project_name                  = "anh-minh-lab-3"
notification_email            = "your-email@example.com"
notification_phone_number     = ""
cloudwatch_log_retention_days = 14
metric_namespace              = "Security"
metric_name                   = "RootAccountLoginCount"
